<div class="user-profile-edit container-fluid">
  <%= render "users/profile_edit/profile_pic" %>

  <div class="editable-content">
    <%= render "users/profile_edit/user_info" %>
    <%= render "users/profile_edit/philosophy" %>
    <%= render "users/profile_edit/donations_by_causes" %>
    <%= render "users/profile_edit/favorite_organizations" %>
  </div>  

  <%= render "users/profile_edit/action_buttons" %>

</div>