<%= render "users/profile_sections/profile_section", title: "DONATIONS BY CAUSES"  do %>
  <div class="donations-bars">
    <% @donations_by_causes.each do |cause, percent| %>
        <div class='<%= "#{cause}-bar donation-bar bg_color_#{cause}"%>' data-percent='<%= percent %>' data-cause='<%= cause %>'></div>
    <% end %>    

    <% @donations_by_causes.each do |cause, percent| %>
        <div class='<%= "#{cause}-text donation-cause-text"%>' data-percent='<%= percent %>' data-cause='<%= cause %>'>#<%= cause.capitalize %></div>
    <% end %> 

    <% @donations_by_causes.each do |cause, percent| %>
        <div class='<%= "#{cause}-percent donation-percent"%>' data-percent='<%= percent %>' data-cause='<%= cause %>'><%= percent %>%</div>
    <% end %>    

    <% if @donations_by_causes.present? %>
    <% highest = @donations_by_causes.first %>
        <div class='<%= "highest-donation-bar bg_color_#{highest[0]}"%>' data-percent='<%= highest[1] %>' data-cause='<%= highest[0] %>'></div>
    <% end %>
  </div>

  <div class="reason-for-giving">When I give, I often give to organizations that focus on <%= highest[0].humanize %>, where my dollar can go really far.</div>
<% end %>