<%= render "users/profile_sections/profile_section", title: "PAST DONATIONS"  do %>
  
  <div class ="mini-user-profile-info"> <!-- need to come up with better class name -->
    <%= fa_icon "user-circle 2x" %> <!-- Place holder for now. -->
    <span class="user-name"><%= @user.name %></span>
  </div>
  <div class="search-my-past-donations">
    <%= fa_icon "search", text: "Search my past donations" %> <!-- Place holder for now. -->
  </div>

  <div class="donations">
    <% @user.donations[0..2].compact.each do |donation| %> <!-- Currerntly just showing first 3 for now until we decide what to do. -->
      <%= render "users/profile_sections/donation", donation: donation %>
    <% end %>
  </div>

  <div class="scroll-to-see-more"> <!-- Place holder for now. -->
    <%= fa_icon "arrow-down", class: "scroll-icon" %>
    <span class="scroll-text">Scroll down to see more</span>
  </div>

<% end %>